:root {
  --primary: #d20a2e;
  --primary-010: #5a051a;

  --secondary: #ee1e52;
  --secondary-010: #ff6b90;
  --secondary-011: #ffb5c0;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --grey: #9b9ba0;
}
